---
layout: default
title: WebCamp
---
<article class="post">
    {% assign title = page.title | downcase %}

    <header class="post-header">
        <div class="page__header course">
            <div class="row">
                <div class="medium-3 columns end">
                    <h1 class="page__title text-uppercase">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </header>
    <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
            <li><a href="/">Главная</a></li>
            <li><a href="/tutorials">Уроки</a></li>
            <li>
                <span class="show-for-sr">Current: </span> {{ page.title }}
            </li>
        </ul>
    </nav>
    <div class="row">
        <p><span class="highlight highlight--success">Новое в разделе</span></p>
    </div>
    <div class="row mb-50">
        {% for post in site.categories[title] limit:2 %}
        <div class="large-6 columns {% if forloop.last == true %}end{% endif %}">
            <div class="callout">
                <h3 class="text--warning"><a href="{{post.url}}" class="text--warning underline">{{ post.title }}</a>
                </h3>

                <div class="post__excerpt">{{ post.excerpt }}</div>
                <a href="{{post.url}}">Подробнее</a>
            </div>
        </div>
        {% endfor %}

    </div>
    <div class="row">
        <p><span class="highlight highlight--success">Все записи в разделе</span></p>

        <div class="input-group simple-search" data-target="{{title}}-post-list">
            <span class="input-group-label"><span class="icon-magnifier"></span></span>
            <input class="input-group-field" type="text">
            <a class="input-group-button button bg--success hover--default">Найти</a>
        </div>
    </div>
    <div class="row mb-50">
        <div class="scrollable-table">
            <!--HEADER-->
            <div class="scrollable-table__head">
                <div class="scrollable-table__row">
                    <div class="scrollable-table__cell">
                        Тема
                    </div>
                </div>
            </div>

            <!--BODY-->
            <div class="scrollable-table__body simplebar post-list" data-simplebar-direction="vertical"
                 id="{{title}}-post-list">
                {% for post in site.categories[title] %}
                <div class="scrollable-table__row post-list__item p-5 simple-search__item">
                    <div class="scrollable-table__cell">
                        <!--Тема-->
                        <a class="" href="{{post.url}}">
                            <div>
                                <h4>{{ post.title }}</h4>

                                <div class="post__excerpt">{{ post.excerpt }}</div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</article>