---
layout: default
---
<div class="show-for-medium">
    <div class="slider__content clearfix">
        <ul class="slides">
            <li class="slide active" style="background-image: url('/img/backgrounds/book_man.jpg')">
                <div class="gradient">
                    <div class="grid">
                        <div class="slide__content grid__left w_m-70 w_l-50 centered">
                            {% assign latest = site.posts.first%}

                            <h3>{{latest.title}}</h3>

                            <p>{{ latest.excerpt }}</p>
                            <a href="{{latest.url}}" class="btn-more position-right">Подробнее</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="panel--success mb-50">
    <div class="divider grid" id="closest">
        <div class="divider__text--right">
            <h2><span class="highlight--white">Новое на Student WebCamp</span></h2>

            <p>Самые новые записи</p>
        </div>
        <div class="divider__more">
            <a href="/blog" class="btn--warning btn--follow btn--lg">
                <span class="follow">Все записи</span>
            </a>
        </div>
    </div>
</div>
{% for category in site.categories %}
<div class="row mb-50">
    {% assign category_name = category.first%}
    <p class="text--success"><a href="/{{ category_name }}" class="text--success underline">{{ category_name }}</a></p>
    {% for post in site.categories[category_name] limit:2 %}
    <div class="large-6 columns closest {% if forloop.last == true %}end{% endif %}">
        <h3>{{ post.title }}</h3>

        <div class="post__excerpt">{{ post.excerpt }}</div>
        <a href="{{post.url}}" class="btn-more position-right">Подробнее</a>
    </div>
    {% endfor %}<!--list posts in category-->
</div>
{% endfor %}<!--list categories-->
