---
layout: default
---
<article class="post">

    <header class="post-header">
        <div class="page__header course">
            <div class="row">
                <div class="medium-3 columns end">
                    <h1 class="page__title text-capitalize">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </header>
    {% for category in site.categories %}
    <div class="row mb-50">
        {% assign category_name = category.first%}
        <p>{{ category_name }}</p>
        {% for post in site.categories[category_name] limit:2 %}
        <div class="large-6 columns closest {% if forloop.last == true %}end{% endif %}">
            <h3><a href="{{post.url}}">{{ post.title }}</a></h3>
            <p>{{ post.excerpt }}</p>
            <a href="{{post.url}}">Подробнее</a>
        </div>
        {% endfor %}
        {% for post in site.categories[category_name] offset:2 %}
        <div class="medium-4 columns closest {% if forloop.last == true %}end{% endif %}">
            <h4><a href="{{post.url}}">{{ post.title }}</a></h4>
            <p>{{ post.excerpt }}</p>
            <a href="{{post.url}}">Подробнее</a>
        </div>
        {% endfor %}
        <!--list posts in category-->
    </div>
    {% endfor %}<!--list categories-->

    <div class="post-content">
        {{ content }}
    </div>

</article>