---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <div class="page__header course">
            <div class="row">
                <div class="medium-6 columns end">
                    <h1 class="page__title text-capitalize" itemprop="name headline">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </header>
    <p class="post-meta row">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ page.date | date: "%b %-d, %Y"}}
        </time>
        <!--{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span
            itemprop="name">{{ page.author }}</span></span>{% endif %}-->
    </p>

    <div class="post-content row" itemprop="articleBody">
        <div class="medium-9 columns">
            {{ content }}
        </div>
        <div class="medium-3 columns">
            <div class="callout">
                <div class="page__info">
                    <p class="clearfix">
                        <span class="page__info--l icon-sir icons--warning"></span>
                        <span class="page__info--ml page__info--last text--success">Интересное:</span>
                    </p>
                </div>
                <table class="post-related__table">
                    {% for related_post in site.related_posts %}
                    <tr class="post-list__item border-bottom">
                        <td>
                            <span class="outline--sm outline--success">{{related_post.tags}}</span>
                        </td>
                        <td>
                            <a href="{{related_post.url}}">
                                <p class="p-5">
                                    {{related_post.title}}
                                </p>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

</article>
