---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <div class="page__header course">
            <div class="row">
                <div class="medium-6 columns end">
                    <h1 class="page__title text-capitalize" itemprop="name headline">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </header>
    <p class="post-meta row">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ page.date | date: "%b %-d, %Y"}}
        </time>
        <!--{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span
            itemprop="name">{{ page.author }}</span></span>{% endif %}-->
    </p>

    <div class="post-content row" itemprop="articleBody">
        {{ content }}
    </div>

    <div class="row">
        <p>Вам также могут понравится:</p>
        <ul>
        {% for related_post in site.related_posts %}
            <li><a href="{{related_post.url}}">{{related_post.title}}</a></li>
        {% endfor %}
        </ul>
    </div>

</article>
