---
layout: default
---
<article class="post">

    <header class="post-header">
        <div class="page__header course">
            <div class="row">
                <div class="medium-3 columns end">
                    <h1 class="page__title text-capitalize">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </header>

    {% for tag in site.data.tags %}
    {% if site.tags[tag] %}

    <div class="row">
        <p class="text--success">
            <a href="{{ page.url }}{{tag}}/" class="text--success underline text-capitalize">{{tag}}</a>
        </p>
    </div>

    <div class="row mb-50">
        {% for post in site.tags[tag] limit:2 %}
        <div class="large-6 columns closest {% if forloop.last == true %}end{% endif %}">
            <div class="callout">
                <h3><a href="{{post.url}}" class="underline">{{ post.title }}</a></h3>

                <div class="post__excerpt">{{ post.excerpt }}</div>
                <a href="{{post.url}}">Подробнее</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="">
            <a href="{{ page.url }}{{tag}}/" class="btn-more position-left">Больше <span
                    class="text-capitalize">{{tag}}</span></a>
        </div>
    </div>
    <hr/>
    {% endif %}
    {% endfor %}
    <div class="post-content">
        {{ content }}
    </div>

</article>