---
layout: default
---
<article class="post">

    <header class="post-header">
        <div class="page__header course">
            <div class="row">
                <div class="medium-3 columns end">
                    <h1 class="page__title text-capitalize">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </header>
    <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
            <li><a href="/">Главная</a></li>
            <li>
                <span class="show-for-sr">Current: </span> {{ page.title }}
            </li>
        </ul>
    </nav>
    {% for tag in site.data.tags %}
    {% if site.tags[tag] %}

    <div class="row">
        <p class="text--success">
            <a href="{{ page.url }}{{tag}}/" class="text--success underline text-capitalize">{{tag}}</a>
        </p>
    </div>

    <div class="row mb-50">
        {% for post in site.tags[tag] limit:2 %}
        <div class="large-6 columns closest {% if forloop.last == true %}end{% endif %}">
            <div class="callout">
                <h3><a href="{{post.url}}" class="underline">{{ post.title }}</a></h3>

                <div class="post__excerpt">{{ post.excerpt }}</div>
                <a href="{{post.url}}">Подробнее</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="">
            <a href="{{ page.url }}{{tag}}/" class="btn-more position-left">Больше <span
                    class="text-capitalize">{{tag}}</span></a>
        </div>
    </div>
    <hr/>
    {% endif %}
    {% endfor %}
    <div class="post-content">
        {{ content }}
    </div>

</article>
<div class="row mb-50">
    <div class="page__info">
        <p class="clearfix">
            <span class="page__info--l icon-graduation-hat icons--warning"></span>
            <span class="page__info--ml text--success">Курсы WebCamp</span>
            <a href="http://www.webcamp.com.ua/" class="page__info--last text--warning">Узнать больше</a>
        </p>
    </div>
    <ul class="list-nostyle post-list">
        <li class="post-list__item border-bottom">
            <a href="http://www.webcamp.com.ua/courses/js-basic">
                <p class="p-5">JavaScript базовый</p>
            </a>
        </li>
        <li class="post-list__item border-bottom">
            <a href="http://www.webcamp.com.ua/courses/frontend-basic">
                <p class="p-5">Frontend базовый</p>
            </a>
        </li>
        <li class="post-list__item border-bottom">
            <a href="http://www.webcamp.com.ua/courses/php-basic">
                <p class="p-5">PHP базовый</p>
            </a>
        </li>
        <li class="post-list__item border-bottom">
            <a href="http://www.webcamp.com.ua/courses/java-starter">
                <p class="p-5">Java Starter</p>
            </a>
        </li>
        <li class="post-list__item border-bottom">
            <a href="http://www.webcamp.com.ua/courses/indi">
                <p class="p-5">Индивидуальные занятия</p>
            </a>
        </li>
    </ul>
</div>